/models
config/*.env
.idea/
.git/
.gitignore
.github
/logs/*
*.iml
deepvoice3_pytorch/
environment.yml

mrln_et_light/**/__pycache__/
mrln_et_light/temp
mrln_et_light/voices

mrln_et_light/tools/**/*.o
mrln_et_light/tools/**/*.a
mrln_et_light/tools/**/*.0
mrln_et_light/tools/**/.deps
mrln_et_light/tools/**/Makefile
mrln_et_light/tools/bin/

#mrln_et_light/tools/genlab/bin/
mrln_et_light/tools/genlab/config.log
mrln_et_light/tools/genlab/config.status
mrln_et_light/tools/genlab/autom4te.cache/
mrln_et_light/tools/genlab/aclocal.m4

mrln_et_light/tools/WORLD/build
mrln_et_light/tools/SPTK-3.9/